<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortner</title>
</head>
<body>
    <h1>Url Shortner</h1>
    <% if(locals.error){%>
        <p class="error"><%= error%></p>
    <%}%>
    <form action="/" method="post">
        <input type="url" name="url" id="url" placeholder="Paste Your Link Here">
        <input type="submit" value="Generate Url">
    </form>
    <div class="shorturl">
        <% if(locals.shorturl){%>
            <a href="<%=shorturl%>"><%=shorturl%></a>
        <%}%>
    </div>
</body>
</html>